body {
	background-color: #F7F7F7;
	padding: 100px;
}

/* FILE UPLOAD TEXT */
h1 {
	color: #FFFFFF;
	font-size: 300%;
	text-align: center;
	letter-spacing: 5px;
	font-family: "Acme", sans-serif;
}

/*BROWSE YOUR COMPUTER BUTTON */
.custom-file-upload {
	color: #000000;
	/* background-color: #39D2B4; */
	font-size: 120%;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	border: 3px solid #39D2B4;
  display: inline-block;
  padding: 12px 35px;
  cursor: pointer;
	border-radius: 30px;
}

.custom-file-upload:hover {
	background-color:#39D2B4;
	transition-duration: 0.3s;
	cursor: pointer;
	color: #FFFFFF;
}

.custom-file-upload:active {
	position:relative;
	top:1px;
}

.outer {
	border-radius: 25px;
	width: 700px;
	height: 600px;
	background-color: #FFFF;
	text-align: center;
	margin: auto;
  -webkit-box-shadow: 0 0 6px 2px #b8b4b4;
  -moz-box-shadow: 0 0 6px 2px #b8b4b4;
  box-shadow: 0 0 6px 2px #b8b4b4;
}

.input-file {
	padding: 20px;
	border-radius: 10px;
	width: 550px;
	height: 300px;
	background-color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	border: 2px dashed #d3d1d1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	vertical-align: middle;
}

.input-file header {
	color: #A1A1A2;
	font-size: 200%;
	font-family: "Trebuchet MS", sans-serif;
	margin: 20px 0 20px 0;
	
}

/* .input-file:hover {
	border: 5px solid #d3d1d1;
	cursor: pointer;
} */

/* UPLOAD BUTTON */
#upload {
	background-color:#07BF97;
	border-radius:15px;
	border: 1px;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 20px;
	padding: 12px 28px;
}

#upload:hover {
  background-color:#079475;
  transition-duration: 0.3s;
  cursor: pointer;
}

#upload:active {
	position:relative;
	top:1px;
}

.head {
  width: 700px;
  height: 110px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: #39D2B4;
  text-align: center;
  vertical-align: middle;
  line-height: 110px;
}

input[type="file"] {
    display: none;
}

.input-file i {
	color: rgb(204, 204, 207);
}

#file-upload-filename {
	color: #A1A1A2;
	font-size: 100%;
	font-family: "Trebuchet MS", sans-serif;
	margin: 10px 0 10px 0;
}	

#graph-btn {
	background-color:#39D2B4;
	border-radius:15px;
	border: 1px;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 20px;
	padding: 12px 28px;
}

#graph-btn:hover {
	background-color:#07BF97;
	transition-duration: 0.3s;
	cursor: pointer;
}

#graph-btn:active {
	position:relative;
	top:1px;
}

$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


/* INPUT FILENAME */
.form__group {
  position: relative;
  padding: 10px 0 0;
  margin-top: 5px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #A1A1A2;
  outline: 0;
  font-size: 1.3rem;
  color: #000000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-family: "Trebuchet MS", sans-serif;
}

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #A1A1A2;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #A1A1A2;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
